/* You can add global styles to this file, and also import other style files */

/* 
Global fon sizes rem
*/
.fs-1rem{ font-size: 1rem;}
.fs-2rem{ font-size: 2rem;}
.fs-3rem{ font-size: 3rem;}
.fs-4rem{ font-size: 4rem;}
.fs-5rem{ font-size: 5rem;}

