<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
  <a class="col-sm-3 col-md-2 mr-0" href="#">Rie.go</a>
  <ul class="nav justify-content-center">
    <!--
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/summary']" [routerLinkActive]="['bg-warning']">Resumen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/detail']" [routerLinkActive]="['bg-warning']">Detalle</a>
    </li>
    -->
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/measure']" [routerLinkActive]="['bg-warning']">Medidas</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Configuracion</a>
    </li>
    -->
  </ul>
</nav>